body{
font-family:Arial;
background:#071a33;
color:white;
text-align:center;
margin:0;
}

section{
padding:80px 20px;
}

h1{
font-size:50px;
color:#7aa2ff;
}

.profile{
width:150px;
height:150px;
border-radius:50%;
margin-top:20px;
border:4px solid #6c8cff;
}

.typing{
animation: typing 3s steps(20);
overflow:hidden;
white-space:nowrap;
border-right:3px solid #7aa2ff;
}

@keyframes typing{
from{width:0}
to{width:100%}
}

.buttons{
margin-top:30px;
}

button{
padding:15px 30px;
border-radius:30px;
border:none;
font-size:16px;
margin:10px;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:translateY(-5px);
box-shadow:0px 0px 20px #6c8cff;
}

.contact{
background:#6c8cff;
color:white;
}

.resume{
background:transparent;
border:2px solid #6c8cff;
color:white;
}

.skills{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;
}

.skill{
background:#10284a;
padding:20px;
border-radius:15px;
width:120px;
transition:0.3s;
}

.skill:hover{
transform:scale(1.1);
}

.skill img{
width:60px;
}

.card{
background:#10284a;
padding:30px;
margin:20px auto;
max-width:700px;
border-radius:15px;
transition:0.4s;
}

.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
justify-content:center;
align-items:center;
}

.popup-content{
background:#10284a;
padding:40px;
border-radius:15px;
text-align:center;
}

.popup-content a{
color:#7aa2ff;
text-decoration:none;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0px 0px 20px rgba(108,140,255,0.5);
}
